<tr class= "nested-fields">
  <td>
      <%= link_to_remove_association "", f, class: "fas fa-trash-alt" %>
      <a href="#"> <i class="fas fa-camera"></i></a>
  </td>

  <td class="input-fields"> <%= f.input :name, label: false, :placeholder => 'Name or URL' %></td>
  <td class="input-fields photo-input" style="display:none;"><%= f.input :photo, label: false%></td>
  <td class="input-fields"><%= f.input :photo_cache, as: :hidden %></td>
  <td class="input-fields"> <%= f.input :description, label: false, :input_html => {:rows => 5}, :placeholder => 'Description...' %></td>
</tr>


