<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h2><%= @list.name %><h2>
        </div>
        <% counter = 0 %>
        <% @list.items.each do |item| %>
          <% counter = counter + 1 %>
          <% if item.url != nil %>
            <% output = item.preview %>
            <%= link_to output[3], class: "url-link", target: :_blank do   %>
              <div class="counter"> <%= counter %> </div>
              <div class="url-card-body">
                <div class ="url-card-image-container">
                  <%= image_tag((output[0]), class: "url-image") %>
                </div>
                <div class="url-card-text">
                  <h5 class="url-card-title"><%= output[2] %></h5>
                  <p class="url-card-description"> <%= output[1] %></p>
                  <p class="url-card-url-root"> <%= output[4] %> </p>
                </div>
              </div>
                <p class= "item-description"><%= item.description %></p>
              <% end %>
            <%else%>
              <div class="counter"> <%= counter %> </div>
              <div class="normal-card-body">
                <h5 class="normal-card-title"><%= item.name %></h5>
                <p class="item-description"><%= item.description %></p>
              </div>
              <div class="normal-card-bottom-border">
              </div>
          <% end %>
        <% end %>
        <div class="like">
          <%= link_to like_list_path(@list), method: :put, remote: :true do %>
          <i class="fa fa-heart"></i>
          <% end %>
          <%= link_to "", :class => "like-count", "data-toggle" => "modal", "data-target" => "#likeModalLong" do %>
          <%= @number_likes %>
          <% end %>
        </div>
        <div class="item-footer">
          <% if @list.user == current_user %>
            <div class="item-footer-left">
              <%= link_to list_path(@list), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
              <%= link_to edit_list_path(@list) do %>
              <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>
          <% end %>
          <div class="item-footer-right">
          <%= social_share_button_tag(@list.name, :url => list_path(@list)) %>
          </div>
        </div>
      </div>
      <div class="modal fade" id="likeModalLong" tabindex="-1" role="dialog" aria-labelledby="likeModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="likeModalLongTitle">People who Liked</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <ul class="user-lists">
              <% @people_who_liked.each do |liker| %>
                <%= link_to profile_path(liker) do %>
                    <li class="user">
                      <div class="user-upper-part">
                        <%= cl_image_tag liker.photo, width: 150, height: 150, crop: :thumb, gravity: :face, secure: true, class: "avatar-large"%>
                        <div class="user-name">
                          <h3><%= "@" + liker.username %><h3>
                          <p><%= [liker.first_name, liker.last_name].join(" ")%></p>
                          <% @user = liker  %>
                        </div>
                      </div>
                      <%= render '/profiles/follow_form' %>
                      <div class="user-footer">
                      <div class="user-stat">
                        <p><%= liker.lists.count %></p>
                        <p class="user-text">Lists</p>
                      </div>
                      <div class="user-stat">
                        <p><%= liker.followers_count %></p>
                        <p class="user-text">Followers</p>
                      </div>
                      <div class="user-stat">
                        <p><%= liker.follow_count %></p>
                        <p class="user-text">Following</p>
                      </div>
                      </div>
                    </li>
                  <% end %>
                <% end %>
             </ul>
          </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

