<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h2><%= @list.name %><h2>
        </div>
        <% counter = 0 %>
        <% @list.items.each do |item| %>
          <% counter = counter + 1 %>
          <% if item.url != nil %>
            <%= render "url_item", item: item, counter: counter %>
          <%else%>
            <%= render "normal_item", item: item, counter: counter %>
          <% end %>
        <% end %>
        <div class="like">
          <%= link_to like_list_path(@list), :class => "like-btn", method: :put, remote: :true do %>
            <%= liked_list(@list) %>
          <% end %>
          <%= link_to "", "data-toggle" => "modal", "data-target" => "#likeModalLong" do %>
            <span class="likes-count"><%= @list.get_upvotes.size %></span>
          <% end %>
        </div>
        <div class="item-footer">
          <% if @list.user == current_user %>
            <div class="item-footer-left">
              <%= link_to list_path(@list), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
              <%= link_to edit_list_path(@list) do %>
              <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>
          <% end %>
          <div class="item-footer-right">
          <%= social_share_button_tag(@list.name, :url => list_path(@list), desc: @list.name) %>
          </div>
        </div>
      </div>
      <div class="modal fade" id="likeModalLong" tabindex="-1" role="dialog" aria-labelledby="likeModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="likeModalLongTitle">People who Liked</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <ul class="user-lists">
              <% @people_who_liked.each do |liker| %>
                <%= render 'profiles/user_card', user: liker %>
                <% end %>
             </ul>
          </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

