<div class="col-sm-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= list.name %></h5>
        <div class="controls">
          <div class="controls-left">
            <%=link_to "Explore", list_path(list),  class: 'btn btn-primary' %>
          </div>
          <div class="controls-right">
            <%= link_to like_list_path(list), method: :put, remote: :true do %>
             <i class="fa fa-heart"></i>
            <% end %>
            <span class="likes-count"><%= list.get_upvotes.size %></span>
            <%= link_to "#" do %>
              <i class="fa fa-share"></i>
            <% end %>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>




