<%= link_to profile_path(user) do %>
<li class="user">
  <div class="user-upper-part">
    <%= cl_image_tag user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, secure: true, class: "avatar-large"%>
    <div class="user-name">
      <h3><%= "@" + user.username %><h3>
        <p><%= [user.first_name, user.last_name].join(" ")%></p>
        <% @user = user  %>
      </div>
    </div>
    <%= render '/profiles/follow_form' %>
    <div class="user-footer">
      <div class="user-stat">
        <p><%= user.lists.count %></p>
        <p class="user-text">Lists</p>
      </div>
      <div class="user-stat">
        <p><%= user.followers_count %></p>
        <p class="user-text">Followers</p>
      </div>
      <div class="user-stat">
        <p><%= user.follow_count %></p>
        <p class="user-text">Following</p>
      </div>
    </div>
  </li>
<% end %>
