<div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <%= cl_image_tag @user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, secure: true, class: "avatar"%>
          <h1><%= @user.username %></h1>
          <h2><%= @user.description%></h2>
          <%= render 'follow_form' %>
        </div>
        <div class="tabs">
          <a class="tab active" href="#">
            <% total = 0 %>
            <% @user.lists.each do |list| %>
              <% total += list.get_upvotes.size %>
            <%end %>
            <h3><%=total%></h3>
            <p>Likes</p>
          </a>
          <a class="tab" href="#">
            <h3><%= @user.lists.count %></h3>
            <p>Lists</p>
          </a>
          <a class="tab" href="#">
            <h3><%= @user.followers_count %></h3>
            <p>Followers</p>
          </a>
          <a class="tab" href="#">
            <h3><%= @user.follow_count %></h3>
            <p>Following</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <% @user.lists.each do |list| %>
  <%= render 'glimpse_list_card', list: list %>
  <%end %>
</div>




