<div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <%= cl_image_tag @user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, secure: true, class: "avatar"%>
          <h1><%= @user.username %></h1>
          <h2><%= @user.description%></h2>
          <%= render 'follow_form' %>
        </div>
        <div class="tabs">
          <a class="tab active" href="#">
            <% total = 0 %>
            <% @user.lists.each do |list| %>
              <% total += list.get_upvotes.size %>
            <%end %>
            <h3><%=total%></h3>
            <p>Likes</p>
          </a>
          <a class="tab" href="">
            <h3><%= @user.lists.count %></h3>
            <p>Lists</p>
          </a>
          <%= link_to "", :class => "tab", "data-toggle" => "modal", "data-target" => "#followerModalLong" do%>
            <h3><%= @user.followers_count %></h3>
            <p>Followers</p>
            <% end %>
          <%= link_to "", :class => "tab", "data-toggle" => "modal", "data-target" => "#followingModalLong" do %>
            <h3><%= @user.follow_count %></h3>
            <p>Following</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <% @user.lists.each do |list| %>
  <%= render 'glimpse_list_card', list: list %>
  <%end %>
</div>


<!-- Modal -->
<div class="modal fade" id="followerModalLong" tabindex="-1" role="dialog" aria-labelledby="followerModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followerModalLongTitle">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="user-lists">
            <% @followers.each do |follower| %>
                  <%= render 'user_card', user: follower %>
              <% end %>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="followingModalLong" tabindex="-1" role="dialog" aria-labelledby="followingModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingModalLongTitle">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="user-lists">
            <% @following.each do |following| %>
                <%= render 'user_card', user: following %>
              <% end %>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





