<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <div class="form-login">
        <h1 class="welcome-header">Welcome to Listy</h1>
        <h4 class="slogan-header">Find new inspiration</h4>
        <%= link_to omniauth_authorize_path(:user, :facebook) do  %>
          <button class="btn fb-login-button-custom"><i class="fab fa-facebook"></i>Continue with Facebook</button>
        <% end %>
        <h5 class="or-header">OR</h5>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :first_name, required: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :username, required: true %>
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
              <script type="text/javascript">
                mixpanel.track("Page Loaded", {
                  "Page Name": "Sign Up Page"
                });
               </script>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

