<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listy | List sharing made easy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="description" content="Listy is the first social network for influencers to create curated lists to share with other people">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
   <!--  facebook meta -->
    <meta property="og:title" content="Listy | List sharing made easy">
  <meta property="og:image" content="http://res.cloudinary.com/dgccrihdr/image/upload/c_scale,w_300/v1534180679/facebook-card.jpg">
  <meta property="og:description" content="Listy is the first social network for influencers to create curated lists to share with other people. If you're looking for inspiration, Listy is the place to go.">
  <meta property="og:url" content="http://www.listy.club" />
  <meta property="og:site_name" content="Listy"/>
 <!--  twitter meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Listy | The social network to share your best lists">
  <meta name="twitter:description" content="Listy is the first social network for influencers to create curated lists to share with other people. If you're looking for inspiration or want to inspire others, Listy is the place to go.">
  <meta name="twitter:creator" content="@Listy">
  <meta name="twitter:image:src" content="http://res.cloudinary.com/dgccrihdr/image/upload/c_scale,w_300/v1534180679/facebook-card.jpg">
  <!-- // favicon -->
  <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
